@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

div.chakra-text:not(.webkit-box) {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    text-decoration: underline;
  }

  blockquote {
    border-left: 2px solid var(--chakra-colors-primary-500);
    font-style: italic;
    padding-left: 16px;
  }
}
